
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if(TempData["fmsg"]!=null){
    <span class="text-danger">@TempData["fmsg"]</span>
}